---
name: Short task
on:
  push:
  workflow_dispatch:

jobs:
  long_task:
    name: Run task
    runs-on: ubuntu-latest
    steps:    
      - name: Check out the source code
        uses: actions/checkout@v3
     
      - name: Sleep shortly
        run: sleep 60
        env:
          TESTING_DEBUG_MODE: 'true'
